# dependencies
Client/node_modules/
Server/node_modules/

# environment files
Client/.env
Server/.env

# build files
Client/build/
Client/dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
